.api {
    height: 100vh;
    background-color: rgb(194, 255, 235);
}

.weather {
    margin: 10px auto;
    background-color: white;
}

h1 {
    margin-top: 0;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(212, 15, 238);
    color: white;
}

table {
    border: thin solid;
    border-collapse: collapse;
}

tr {
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    border: thin solid;
}

th {
    padding: 10px 20px;
    border-collapse: collapse;
    border: thin solid;
}

td {
    padding: 10px 20px;
    border-collapse: collapse;
    border: thin solid black;
}

.max {
    color: red;
}

.min {
    color: blue;
}